.container {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerInfo {
  margin-top: -2rem;
  width: 52%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.containerInfo > * {
  width: 40%;
  flex-shrink: 0;
  margin: auto;
  
}
.containerForm {
  width: 38%;
  padding: 2rem 0;
  order: -1;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .containerInfo {
    margin: 0;
    width: 90%;
  }
  .containerForm {
    width: 90%;
    padding: 2rem 0;
    order: 0;
  }
}

@media screen and (max-width: 700px) {
  .containerInfo > * {
    width: 100%;
  }
}
