.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
}


.containerMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-500);
  background-color: var(--gray-200);
  box-shadow: 0 0 10px var(--gray-400);
}
.dark{
  background-color: var(--black-400);
  box-shadow: 0 0 10px var(--black-400);
}

@media screen and (min-width: 590px) {
  .containerMenu {
    position: static;
    border: 0;
    width: 50%;
    background: none;
    box-shadow: none;
  }
}

.containerMenu ul {
  font-size: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
